.ListContainer{
    display:inline-grid;
    margin-top: 1em;
}

.ListContainer img{
    height:12em;
    width:inherit;
    object-fit: cover;
}

.card{
    width: 17em;
    margin:1em ;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
}

.card h4{
    color: #63c7b0;
    text-align: left;
    font-size: 0.8em;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 7.5%;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;

}

.pricediv img{
    width:32px;
    height: auto;
    margin-left:1em;
}

.card h3{
    text-align: left;
    margin-left: 7.5%;
    font-weight: 700;
    font-size: 1.3em;
    color:#21475A;
    margin-bottom: 1rem;
    margin-top: 4px;
}

.card img{
    border-radius: 10px 10px 0 0;
}

.descr {
    color:#8C8C8C !important;
    font-size: 0.8em !important;
    margin-left: 7.5%;
    width: 85%;
    text-align: left;
}

.priceLine{
    display: flex;
    flex-direction: row;
    height: 2.25rem;
    align-self: center;
}

.price{
    text-align:left;
    margin-left: 7.5%;
    margin-right: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.3em !important;
    align-items: center;
}

.stock{
    color:white !important;
    font-size: 1em !important;
    text-align: right;
    padding: 0.5rem 0.75rem;
    margin: 0;
    background-color:#63c7b0;
    border-radius: 8px;
}

.stockSm{
    display: none;
}



.cardmap {
    height: 20px;
    color:#21475A;
    display: flex;
    padding: 0;
    margin-left: 7.5%;
    align-items: center;
}

.cardBtnBox{
    width: 85%;
    height: auto;
    margin-left: 7.5%;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

.cardBtn{
    background-color:#088f8d;
    border: none !important;
	border-radius: 10px;
	cursor:pointer;
	color:#ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
	padding:16px;
    text-transform: uppercase; 
}

.cardBtnLink{
   cursor: pointer;
   align-items: center;
   text-decoration:none;
   color:#ffffff;
   font-weight: 600;
   width: 100%;
   text-transform: uppercase;
}

.btnNg{
    background-color:#d6d6d6;
    border: none !important;
    border-radius: 10px;
    pointer-events: none;
    color:#ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    padding:16px;
    text-transform: uppercase; }

button{
    transition: all .2s ease-in-out; }

button:hover{
    transform: scale(1.07); }