.productDetail {
  width: 90%;
  max-height: auto;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  margin-top: 6em;
  margin-bottom: 6em; }

.productimg{
  width: auto;
  height: auto;
}

.productimg img {
  max-height: 28em;
  width: 100%;
  border-radius: 20px;
  object-fit: cover; }

.prodinfo {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-left: 3em;
}
  
  .prodinfo a {
    text-decoration: none;
  }

  .prodinfo h4 {
    color: #6ebdaa;
    text-align: left;
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.1em; }

  .prodinfo h1 {
    text-align: left;
    font-weight: 700;
    font-size: 2em;
    color: #21475a;
    margin-bottom: 40px; }

  .prodinfo p {
    color:#8C8C8C;
    font-size: 1.1em;
    text-align: left; }

.productmap {
  height: 20px;
  color:#21475A;
  display: flex;
  padding: 0;
  margin-left:0;
  align-items: center; }

.productdescr {
  color:#8C8C8C;
  font-size: 1em;
  margin-left: 10px;
  width: 85%;
  text-align: left; }

.prodinfo h5 {
  font-size: 1.5em;
  color: #21475a; 
  margin-top: 30px;}



/* -----*/  

.counterGroup {
  margin-top: 5px;
  width: 160px;
  margin-right: 1em;
}

.counterGroupAdd {
  display: flex;
  flex-direction: row;
}

.countertot {
  color:#21475a; 
  background-color: white;
  border: none;
  font-size: 1.1rem;
  height: 25px;
  width: 40px;
  text-align: center;
}

.addCartButton {
  background-color:#088f8d;
  border: none !important;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  height: 3.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-right: 1.5em;
}
  
.circlebuttonsgroup {
  margin-right: 2rem;
}

.circlebuttons {
  background-color: #21475a; 
  border: none;
  border-radius: 18px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  height: 36px;
  width: 36px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0.4rem;
  text-align: center;
}

/* -----*/  

.stockContainer {
  display: flex;
  align-items: center;
  margin-top: 2em;
}



  
/*mobile  */
@media screen and (max-width: 640px) {
  .productDetail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1fr;

  }
/*
  .productDetail img {
    margin-left: 0;
    width: inherit;
    border-radius: 20px;
    margin-left: 3em;
    object-fit: cover;
  }

  .prodinfo {
    width: inherit !important;
    margin-left: 0;
    padding-left: 3em;
    padding-right: 3em;
  }
  */
}

/*tablet  */
@media screen and (min-width: 640px) and (max-width: 1280px) {
  .productDetail {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1.2fr 1fr;
      }
  
  /*  
  .productDetail img {
    margin-left: 0;
    width: inherit;
    border-radius: 20px;
    margin-left: 3em;
    object-fit: cover;
  }

  .pricediv img {
    padding: 0 !important;
  }

  .prodinfo {
    width: inherit !important;
    margin-left: 0;
    padding-left: 3em;
    padding-right: 3em;
  }
  */
}