
.pagecontainer {
    text-align: center;
    margin: 4rem; }

.pagetitleH2  {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color:#21475A; }
  
.pagetitleH3  {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color:#21475A; }
      
.pagesubTitle  {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color:#21475A; 
    margin: 2rem 4rem 2rem 4rem; }